In [4]:
# import neccessary libraries 

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [9]:
df = pd.read_excel('clean_datadec2020.xlsx')

df

,model_info,gear_type,province,mileage_km,Price_bath,year,maker,model,engineCC
0,2017 Toyota Hiace 3.0 COMMUTER (ปี 05-16) D4D Van,auto,กรุงเทพมหานคร,5000.0,829000.0,2017,Toyota,['Hiace'],"['3.0', 'COMMUTER', '(ปี', '05-16)']"
1,2015 Toyota Fortuner 2.8 (ปี 15-18) V SUV - 4WD,auto,กรุงเทพมหานคร,94321.0,1060000.0,2015,Toyota,['Fortuner'],"['2.8', '(ปี', '15-18)', 'V']"
2,2017 Toyota Hilux Revo 2.4 SMARTCAB E Pickup - MT,manual,กรุงเทพมหานคร,80000.0,479000.0,2017,Toyota,['Hilux'],"['Revo', '2.4', 'SMARTCAB', 'E']"
3,2014 Toyota Camry 2.0 (ปี 12-16) G EXTREMO Sedan,auto,กรุงเทพมหานคร,295000.0,539000.0,2014,Toyota,['Camry'],"['2.0', '(ปี', '12-16)', 'G']"
4,2018 Toyota Yaris 1.2 (ปี 13-17) G Hatchback,auto,กรุงเทพมหานคร,95000.0,449000.0,2018,Toyota,['Yaris'],"['1.2', '(ปี', '13-17)', 'G']"
...,...,...,...,...,...,...,...,...,...
11889,2017 Isuzu D-Max 1.9 SPACE CAB (ปี 11-17) S Pi...,manual,กรุงเทพมหานคร,5000.0,449000.0,2017,Isuzu,['D-Max'],"['1.9', 'SPACE', 'CAB', '(ปี']"
11890,2015 Isuzu D-Max 2.5 CAB-4 (ปี 11-17) S Pickup,manual,กรุงเทพมหานคร,5000.0,469000.0,2015,Isuzu,['D-Max'],"['2.5', 'CAB-4', '(ปี', '11-17)']"
11891,2017 Isuzu D-Max 1.9 CAB-4 (ปี 11-17) S Pickup,manual,กรุงเทพมหานคร,30000.0,549000.0,2017,Isuzu,['D-Max'],"['1.9', 'CAB-4', '(ปี', '11-17)']"
11892,2006 Saab 9-5 2.3 (ปี 99-08) Turbo Aero Sedan,auto,กรุงเทพมหานคร,125000.0,459000.0,2006,Saab,['9-5'],"['2.3', '(ปี', '99-08)', 'Turbo']"
11893,2013 Toyota Hiace 2.7 COMMUTER (ปี 05-16) VVTi...,auto,กรุงเทพมหานคร,5000.0,499000.0,2013,Toyota,['Hiace'],"['2.7', 'COMMUTER', '(ปี', '05-16)']"

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11894 entries, 0 to 11893
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   model_info  11894 non-null  object
 1   gear_type   11894 non-null  object
 2   province    11894 non-null  object
 3   mileage_km  11798 non-null  float64
 4   Price_bath  11403 non-null  float64
 5   year        11894 non-null  int64
 6   maker       11894 non-null  object
 7   model       11894 non-null  object
 8   engineCC    11894 non-null  object
dtypes: float64(2), int64(1), object(6)
memory usage: 836.4+ KB